[Desktop Entry]
Comment[en_AU]=A simple shell script to help with the use of KDE vaults
Comment=A simple shell script to help with the use of KDE vaults
Comment[en_US]=A simple shell script to help with the use of KDE vaults
Exec=vaultHelper
GenericName[en_AU]=
GenericName=
GenericName[en_US]=
Icon=~/.config/vaultHelper/vaultHelperIcon.png
MimeType=
Name[en_AU]=Vault Helper
Name=Vault Helper
Name[en_US]=Vault Helper
Path=~
StartupNotify=true
Terminal=true
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
